@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body, html {
	margin: 0;
	padding: 0;
}

.App {
  font-family:  'Oswald', sans-serif;
}

.content-container {
	width: min(1000px, 90%);
	margin: 0 auto;
}